<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7900965809-5dq4m7ba3n1di1i821t9kg6o1iao24k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7900965809-5dq4m7ba3n1di1i821t9kg6o1iao24k4</string>
	<key>API_KEY</key>
	<string>AIzaSyCi5qtX1xCtKsIoXfXeowsysk6FDIzz9KU</string>
	<key>GCM_SENDER_ID</key>
	<string>7900965809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorAppointmentUi</string>
	<key>PROJECT_ID</key>
	<string>loginhospital-2cc49</string>
	<key>STORAGE_BUCKET</key>
	<string>loginhospital-2cc49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7900965809:ios:f73c65d70873fa13796b90</string>
</dict>
</plist>